@media screen and (min-width: 1000px){

.function-section{
    text-align: center;
    padding: 4rem 1.7rem;
    background: hsl(220, 16%, 96%)
}

.header-text{
    text-align: left;
    margin: 2rem 8.5rem 2rem 8.5rem;
    width: 50%;
}

h2{
    font-size:2.4rem;
   }

h3{
    font-size:1.4rem;
    margin: 1.5rem 0;
}


.function-grid{
    margin: 2rem 8.5rem 0 8.5rem;
    justify-content: space-between;
    text-align: left;
}

.function-box p{
    font-size: .95rem;
    line-height: 1.5rem;
}
   
.function-box{
    width: 23%;
    margin: .7rem 0;
}
}