footer{
    background: hsl(233, 26%, 24%);
    text-align: center;
    margin: 0;
}

.logo-footer{
    width: 40%;
    margin: 2.5rem 0 1.5rem 0;
}

.icon{
    width: 7%;
    margin: .45rem;
    transition: filter .7s ease;
}

.icon:hover{
    filter: invert(20%) sepia(13%) saturate(2431%) hue-rotate(79deg) brightness(92%) contrast(87%);
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    color: hsl(0, 0%, 98%);
    font-size: .9rem;
}

li{
    margin: 1rem 0;
    transition: color .7s ease;
    cursor: pointer;
}

li:hover{
    color: hsl(136, 65%, 51%);;
}

.footer-button{
    margin: 2rem 6.5rem 1.5rem 6.5rem;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 2rem;
}