.phone-box{
    background-image: url('../images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    max-height: 295px;
    justify-content: center;
}

.phones{
    width: 90%;
    object-fit: cover;
    object-position: bottom;
}


.text-section{
    text-align: center;
    margin: 2rem 2rem 6rem 2rem;
}

.button{
    margin: 2rem 4.5rem;
    padding: 14px 0 ;
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: white;
    font-weight: 700;
    font-size: .9rem;
    border-radius: 30px;
    cursor: pointer;
}